[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tqdm = "*"
chain-norm = "*"
pynando = "*"
pyyaml = "*"
pymondo = "*"

[requires]
python_version = "3.8"
