[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
tqdm = "*"
jupyter = "*"
chain-norm = "*"
pymondo = "*"
pynando = "*"
pyyaml = "*"

[requires]
python_version = "3.8"
